


.header{

.img-header{
  
   width: 100%;

   
   

}
nav{
display: flex;
justify-content: space-around;
align-items: center;
background-color: white;
padding: 10px;
border-radius: 13px;
position: absolute;
top: 40px;
width: 1400px;
margin: auto;


}
div{
    display: flex;
    align-items: center;
    gap: 30px;
    .but-blue{
        background-color: #38BFF2;
        padding: 1px;
        color: white;
        border-radius: 34px;
        gap: 0px;
        width: 98px;
    justify-content: space-evenly;
    }
}

.ps{
    display: flex;
    justify-content: center;
    position: absolute;
top: 180px;
left: 140px;
.computer{
            width: 390px;
            height: 410px;
        }
    :nth-child(1){
        font-size: 40px;
        font-weight: 700;
        width: 650px;
        .span{
            font-size: 40px;
            font-weight: 700;
        }
        
    }
    span{
        color: #F15525;
        font-size: 40px;
    }
    :nth-child(2){
        font-size: 18px;
        font-weight: 400;
        width: 600px;
    }
    :nth-child(3){
        background-color: #F15525;
        color: white;
        font-size: 16px;
        border-radius: 10px;
        padding: 14px;
        width: 250px;
        text-align: center;
    }
}
.arr{
    position: absolute;
    background-color: white;
    padding: 20px;
    border-radius: 50%;
    top: 700px;
    left:740px; 
    
}

}
.first{
     position: relative;
        margin-top: -900px;
    p{
        font-size: 40px;
        font-weight: 700;
        text-align: center;
    }
    nav{
        p{
            font-size: 15px;
            font-weight: 400px;
            color: white;
           
        }
         :nth-child(1){
background-color: #38BFF2;
padding: 10px;
border-radius: 10px;  
width: 270px;      
        }
        :nth-child(2){
background-color: #FFB359;
border-radius:10px;  
width: 90px; 
padding: 10px     
        }
        :nth-child(3){
background-color:#FF6F50;
border-radius: 10px;  
width: 150px; 
padding: 10px     
        }
        :nth-child(4){
background-color: #4BD071;
border-radius: 10px;  
width: 280px; 
padding: 10px     
        }
        :nth-child(5){
background-color: #50C0FF;
border-radius: 10px;  
width: 260px;  
padding: 10px    
        }
        :nth-child(6){
background-color: #4B77B9;
border-radius: 10px;  
width: 90px; 
padding: 10px     
        }
        :nth-child(7){
background-color: #AF93FF;
border-radius: 10px;  
width: 80px; 
padding: 10px     
        }
        :nth-child(8){
            color: black;
            font-weight: 700;
            width: 360px;
        }
        display: flex;
        
        flex-wrap: wrap;
        width: 500px;
        gap: 5px;
    }
    div{
        display: flex;
        justify-content: center;
        gap: 60px;
        background-color: #EAF2F5;
        padding: 40px;
        border-radius: 50px;
        width: 1160px;
        margin: auto;
       
    }

}
.second{
    .the-p{
        font-weight: 700;
        font-size: 40px;
        width: 600px;
       margin: auto;
       margin-top: 100px;
       margin-bottom: 50px;
    }
    .box{
        background-color: #EAF2F5;
        padding: 10px;
        width:240px;
        height: 230px;
        border-radius: 20px;
        text-align: center;
        :nth-child(1){
            font-weight: 900;
            width: 150px;
            font-size: 18px;
        }
        :nth-child(2){
            font-weight: 400;
            width: 200px;
            font-size: 14px;
        }
       
        img{
            width: 0.000000000001px;
            height: 80px;
        }
    }
    .boxes{
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }
}
.three{
    margin-top: -300px;
    .circle{
        width: 100%;
    }
    .div1{
        position: relative;
        top: -2300px;
        :nth-child(1){
            font-size: 40px;
            font-weight: 700;
            text-align: center;
        }
         :nth-child(2){
            font-size: 16px;
            font-weight: 400;
            width: 660px;
            margin: auto;
        }
        :nth-child(3){
         width: 50%;
       margin-left: 350px;
          margin-top: 60px;
        }
        :nth-child(4){
       
      position: relative;
      top: -200px;
      left: -440px;
        }
         :nth-child(5){
            font-size: 20px;
            font-weight: 600;
           color: white;
        margin-left: 640px;
        position: relative;
        top: -200px;
           
        }
    }
    .rectangle{
        width:80%;
        margin: auto;
        width: 1140px;
        height: 340px;
        background-color: rgb(251, 248, 248);
        border-radius: 20px;
        display: flex;
        justify-content:space-evenly;
        gap: 20px;
        margin-bottom: 90px;
        
        .border{
            border-left: 2px solid grey;
            height: 250px;
            margin-top: 40px;
        }
        article{
            :nth-child(1){
                color: #38BFF2;
                font-size: 40px;
                font-weight: 800;
            }
             :nth-child(2){
                color: #22253B;
                font-size: 20px;
                font-weight: 600;
                width: 260px;
            }
            :nth-child(3){
                color: #22253B;
                font-size: 16px;
                font-weight: 400;
                width: 260px;
            }

        }
    }
    .div2{
        width: 540px;
        height: 95px;
        background-color: rgb(255, 255, 255);
        border-radius: 50px;
        display: flex;
        justify-content: space-evenly;
        :nth-child(1){
            background-color:#F15525;
            color: rgb(252, 250, 250);
            width: 240px;
            text-align: center;
          height: 30px;
          padding: 15px;
            border-radius: 50px;
        }
        :nth-child(2){
            width: 200px;
        }
width: 50%;
margin: auto;
    }
    .pos{
        position: relative;
        top: -2300px;
    }
}
.four{
    background-color: white;
    height: 660px;
    width: 100%;
    margin: auto;
    padding-top: 60px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
    top: -2200px;
   

    article{
        background-color: #EAF2F5;
        padding: 30px;
        width: 500px;
        height: 250px;
        border-radius: 28px;
        :nth-child(1){
            font-weight: 700;
            font-size: 26px;
        }
    }
}
.five{
    background-color: #F9F8FD;
    height: 300px;
   
    position: relative;
    top: -2000px;
   
    p{
        font-size: 35px;
        font-weight: 700;
        text-align: center;
    }
    .kalkulator{
        display: flex;
       gap: 20px;
        align-items: center;
        :nth-child(2){
            font-size: 15px;
            font-weight: 400;
            width: 300px;
            text-align: left;
        }
    }
    .div4{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}