.header .img-header {
  width: 100%;
}
.header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 13px;
  position: absolute;
  top: 40px;
  width: 1400px;
  margin: auto;
}
.header div {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header div .but-blue {
  background-color: #38BFF2;
  padding: 1px;
  color: white;
  border-radius: 34px;
  gap: 0px;
  width: 98px;
  justify-content: space-evenly;
}
.header .ps {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 180px;
  left: 140px;
}
.header .ps .computer {
  width: 390px;
  height: 410px;
}
.header .ps :nth-child(1) {
  font-size: 40px;
  font-weight: 700;
  width: 650px;
}
.header .ps :nth-child(1) .span {
  font-size: 40px;
  font-weight: 700;
}
.header .ps span {
  color: #F15525;
  font-size: 40px;
}
.header .ps :nth-child(2) {
  font-size: 18px;
  font-weight: 400;
  width: 600px;
}
.header .ps :nth-child(3) {
  background-color: #F15525;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  padding: 14px;
  width: 250px;
  text-align: center;
}
.header .arr {
  position: absolute;
  background-color: white;
  padding: 20px;
  border-radius: 50%;
  top: 700px;
  left: 740px;
}

.first {
  position: relative;
  margin-top: -900px;
}
.first p {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}
.first nav p {
  font-size: 15px;
  font-weight: 400px;
  color: white;
}
.first nav :nth-child(1) {
  background-color: #38BFF2;
  padding: 10px;
  border-radius: 10px;
  width: 270px;
}
.first nav :nth-child(2) {
  background-color: #FFB359;
  border-radius: 10px;
  width: 90px;
  padding: 10px;
}
.first nav :nth-child(3) {
  background-color: #FF6F50;
  border-radius: 10px;
  width: 150px;
  padding: 10px;
}
.first nav :nth-child(4) {
  background-color: #4BD071;
  border-radius: 10px;
  width: 280px;
  padding: 10px;
}
.first nav :nth-child(5) {
  background-color: #50C0FF;
  border-radius: 10px;
  width: 260px;
  padding: 10px;
}
.first nav :nth-child(6) {
  background-color: #4B77B9;
  border-radius: 10px;
  width: 90px;
  padding: 10px;
}
.first nav :nth-child(7) {
  background-color: #AF93FF;
  border-radius: 10px;
  width: 80px;
  padding: 10px;
}
.first nav :nth-child(8) {
  color: black;
  font-weight: 700;
  width: 360px;
}
.first nav {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  gap: 5px;
}
.first div {
  display: flex;
  justify-content: center;
  gap: 60px;
  background-color: #EAF2F5;
  padding: 40px;
  border-radius: 50px;
  width: 1160px;
  margin: auto;
}

.second .the-p {
  font-weight: 700;
  font-size: 40px;
  width: 600px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 50px;
}
.second .box {
  background-color: #EAF2F5;
  padding: 10px;
  width: 240px;
  height: 230px;
  border-radius: 20px;
  text-align: center;
}
.second .box :nth-child(1) {
  font-weight: 900;
  width: 150px;
  font-size: 18px;
}
.second .box :nth-child(2) {
  font-weight: 400;
  width: 200px;
  font-size: 14px;
}
.second .box img {
  width: 0px;
  height: 80px;
}
.second .boxes {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}/*# sourceMappingURL=style.css.map */